canvas{
  border: 1px solid black;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.spacer{
  height: 7vh;
}

/*Default font is Googles Quicksand*/
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.1em;
}
