canvas{
  border: 1px solid black;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}

.spacer{
  height: 7vh;
}

.bg{
  /*background: linear-gradient(to bottom right, #607d8b, #009688);*/
  background: linear-gradient(to bottom right, teal, darkcyan);
}

/*Default font is Googles Quicksand*/
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 0.05em;
}
html {
  scroll-behavior: smooth;
}

#progbar-text{
  text-align: justify;
}

.num{
  font-variant-numeric: tabular-nums;
}

.dlicon{
  animation: dlicon-blur 2s ease-in-out 200ms infinite alternate;
}

@keyframes dlicon-blur {
  0% {
    filter: blur(0) opacity(100%);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}

