body {
    background: darkslategray;
    color: bisque;
    padding: 16px;
    margin: 16px;
}

p {
    font-family: "Cormorant Garamond", serif;
    word-wrap: break-word;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    
}

h1 {
    font-family: "Abril Fatface", cursive;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1rem;
}

.float {
    position: fixed;
    top: 16px;
    left: 16px;
    background: slategray;
    border-radius: 8px;
}

.material-icons {
    font-size: 6rem;
}
